<!DOCTYPE html>
<html>
  <head>
    <title>SongsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header><nav><%= link_to 'Artist', path %>
            <%= link_to 'Albums', path %>
            <%= link_to 'Songs', path %>
            </nav></header>
    <%= yield %>
  </body>
</html>
